.main{
    background-color: aqua;
    width: 500px;
    margin:1.8rem auto;
    padding: 10px;
    border-radius: 7px;
    
}
.input-element input, textarea{
    display: block;
    width: 100%;    
}
.input-btn{
    margin: auto;
    width: 90%;
    
}
.input-btn button{
    margin: 2%;
    width: 20%;   
}
table, td, th {  
    border: 1px solid #060606;
    text-align: left;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    padding: 15px;
  }
  thead{
    background-color: rgb(255, 174, 0);
  }
  td:hover {background-color: coral;}